{% extends 'base/base.html' %}


{% block content %}

<p>
  This is where you can find some places, enclosures and boundaries with lots of trees therein.
</p>

{% if places %}
<p>
  Here are list of special places available:
</p>
{% else %}
<p>There are no special places yet </p>
{% endif %}
<br>

<div class="search-result">
  <ul class="flex">
      {% for place in places %}
      
      <li><a href="{% url 'special:details' place.id %}"> {{ place }}</a></li>
      
      {% endfor %}
      </ul>
</div>

{% endblock  %}