{% extends 'base/base.html' %}
{% block title %}
<title>
  About | Trees in UI
</title>
{% endblock %}

{% block content %}

<h2 class="center light-color">
    About
</h2>
<p class="card">
    This project was inspired by two reasons. Firstly, the assignment given to us when we were told to survey trees at some places which we all tried our possible best to get the names. 
    In trying our best, we used different approach in getting the names of the trees and which most of the results we got were false.
    But we just had to make do with it. 
</p>
    
<p class="card">
    Secondly, when we did a course called Ethnoforestry, we treated some trees and their pharmacological importance. But many of these trees are not known and also under utilized or maltreated.
    So i decided to put up the trees alongside their ethnopharmacological details.
    <p class="card"> Key attention needs to be paid to this, because mistaking a tree for another can complicate things.
    With that i employed the knowledge of my Lecturers and other experts in carefully identifying and documenting these trees. 
    These are for educational and some medicinal purposes for which due dilligence is followed.
    </p>
</p>

<p class="card">
    Furthermore, I came about this idea because some critical species present in the school needs to be maintained and taken care of and not otherwise.
</p>

<p class="card">
    Also in research works where a particular tree is need for a purpose other than <b>felling the tree</b>, the tree can easily be searched for and the location can be gotten with ease
</p>

<p class="card">
    Then I decided to build an online version of trees diary where all the tree names and some other information are stored alongside. Most especially trees that are very rare to get,
    trees with limited specie count and other trees.

</p>

<p class="card">
    Yes, it is most likely impossible to document all the trees but yes with time it could be.

</p>

<!-- <h2>I FIT TAKE DOWN THESE RUBBISH IF I VEX FINISH MAKE NOBODY TRY ME OOOOOOO</h2> -->
{% endblock  %}