{% extends 'base/base.html' %}


{% block content %}

<h1 class="center">Acknowlwdgement</h1>

<p class="card">
    All praises and adoration to Allah, the one, the king, the mighty and the most powerful.
    Tonnes and unquantifiable appreciation to my parents and sibling for the opportunity and countless supports. And also to my uncle who always encourage and inspire me, and also to my senior turn sister who keeps telling me about reality of life.
</p>

<p class="card">
    Thanks to Blue Tech Empire for taking me as one of their students.
</p>

<p class="card">
    My greatest appreciation to all my teachers, mentors and most importantly my lecturers for the knowledge imparted.
</p>

<p class="card">
    Kudos to the 300L Tree Club 2020-2021. It was our response to the assignment and report which faciltated this project. You guys are awesome.
</p>

<p class="card">
    I also acknowledge the work my Lecturers in the department of Forest production and Products which was used during the course of this project. The article <a href="https://www.researchgate.net/publication/258257178_Tree_species_Diversity_in_the_Department_of_Forest_Resources_Management_University_of_Ibadan_Nigeria">Tree species Diversity in the Department of Forest Resources Management, University of Ibadan, Nigeria</a> came in handy with getting the names of some trees and most importantly local names of some species.
</p>

<p class="card">
    Special appreciation <b> PLANTS OF THE WORLD </b> for allowing me to reference their documentation for the successful completion of this project.
</p>

<p class="card">
    It will not be complete if i do not recognise my haters bad belles. 
    Enemies in friend skin, emenies is disguie, toxic and venomous people. F**k yall mfs. You guys are really motivating. I will continue to soar and you will never be able to reach me at all. Keep hating and I keep succeding.
</p>

{% endblock  %}