{% extends 'base/base.html' %}
{% load static %}
{% block content %}

  <form action="" method="post" enctype="multipart/form-data">
    <h2 class="center"> Contributor's Page </h2>
    {% csrf_token %}
    <table>
      <div>
        <img src="{{ form.picture.url }}" alt="image">
      </div>
    {{ form.as_table }}
    </table>

    <button class="btn form-btn" type="submit"> Submit </button>
    <button onclick="window.location='{% url 'home:home' %}' ; return false;"  class="btn form-btn" type="submit"> Cancel </button>
    <!-- <input type="submit" value="Update">
    <input type="submit" onclick="window.location='{% url 'home:home' %}' ; return false;" value="Cancel"> -->
  </form>

{% endblock %}