{% extends 'base/base.html' %}
{% load static %}
{% block content %}

  <form action="" method="post" enctype="multipart/form-data">
    <h1 class="center"> Contributor's Page </h1>
    {% csrf_token %}
    <table>
      <div>
        <img src="{{ form.picture.url }}" alt="image">
      </div>
    {{ form.as_table }}
    </table>

    <input type="submit" value="Update">
    <input type="submit" onclick="window.location='{% url 'home:home' %}' ; return false;" value="Cancel">
  </form>

{% endblock %}