{% extends 'base/base.html' %}

{% block content %}

<div class="form-container">
  <form action="" method="">
    <input name="q" type="text" placeholder="Input Your Search" />
  </form>


</div>
<p class="font">Or do you want to <a class="light-color" href="{% url 'home:specific_search' 1 %}">Specify Search ?</a></p> <br>
<div>
  {% if search_result.paginator.count %}
  <div class="result-counter">{{ search_result.paginator.count }} Result{{ search_result.paginator.count|pluralize }} Available</div>
  {% endif %}
</div>

<div class="search-result">
  <ul class="flex">
    {% for tree in search_result %}
    {% if tree.scientific_name %}
    <li><a href="{% url 'home:tree_details' tree.id %}">{{ tree }}</a></li>
    {% else %}
    <li><a href="{% url 'home:tree_location_details' tree.id %}">{{ tree }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<!--PAGINATOR CONTROL STARTS HERE-->
<div class="paginator">
  {% if search_result.has_other_pages %}
  <ul class="pagination flex">
    {% if search_result.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{% if search %}q={{ search }}&{% endif %}page={{ 1 }}">First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?{% if search %}q={{ search }}&{% endif %}page={{ search_result.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in search_result.paginator.page_range %}
    {% if search_result.number == i %}
    <li class="page-item active-page"><a class="page-link">{{ i }}</a></li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?{% if search %}q={{ search }}&{% endif %}page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}


    {% if search_result.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{% if search %}q={{ search }}&{% endif %}page={{ search_result.next_page_number }}">&raquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?{% if search %}q={{ search }}&{% endif %}page={{ search_result.paginator.num_pages }}">Last</a>
    </li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>

  {% endif %}
  {% if search_error %}
  <span style="color: red;">{{ search_error }}</span>
  {% endif %}

</div>
<!--PAGINATOR CONTROL ENDS HERE-->

{% endblock %}