{% extends 'base/base.html' %}
{% block content %}

<div class="flex-container">
  <div>
    <p class="heading">{{ result }}</p>
    
    <div class="tree-brief-info">
        <p class="heading">Location Information</p>
        <div class="caption">
            <p><img src="{{ result.tree_picture.url }}" height="300" alt="{{ genus_specie }} Tree at University of Ibadan"></p>
        <p>The Tree could be found at:  {{ result.location_name }}</p>
        <p>Detailed description of the location:  {{ result.location_description }}</p>
        <P> Tree Health Status: {{ result.health_status }}</P>
        <div> Uploaded by:<a href="{% url 'home:contributors' %}#{{ result.uploader }}">  {{ result.uploader }} </a>
        </div>
    </div>

    <br>
    <hr>

    <div class="heading">Tree Information</div>
    <ul class="flex tree-details">
      <li> Common Name: {{ tree_info.common_name }}</li>
      
      <li> Local Name: {{ tree_info.local_name }}</li>
      
      <li> Authority: {{ tree_info.authority }}</li>
      
      <li> Order: {{ tree_info.tree_order }}</li>
      
      <li> Family: {{ tree_info.tree_family }}</li>
      
      <li> Conservation Status: {{ tree_info.conservation_status }}</li>
      
      <li> Specie Status: {{ tree_info.specie_status }}</li>
      
      {% if tree_info.pharmacological_details %}
      <li class="font"> Pharmacological Details:
        <span>
          <button class="read-more">
            <a href="{% url 'home:pharmacology' tree_info.id %}" >Read Up</a>
          </button>
        </span>
      </li>
      {% endif %}

      {% if tree_info.reference %}
      <li class="font"> More About {{ tree_info }} ??:
        <span>
          <button class="read-more">
            <a href="{{ tree_info.reference }}" >Read Up</a>
          </button>
        </span>
      </li>
      {% endif %}
      
    </ul>
  </div>
  
  <div id="time-created-updated">
    <p>This page was created on: {{ tree_info.created }} and last updated on: {{ tree_info.last_updated }}</p>
  </div>
</div>

{% endblock  %}