{% extends 'base/base.html' %}
{% load social_share %}
{% block content %}

{% block title %}
<title>
  {{ tree_info.scientific_name }} | Trees in UI
</title>
{% endblock %}

<div class="flex-container">
  <div class="detail-container" id="detail-container" style="display: block;">
    <div>
      <div id="pic_cont" style="display: none;">
        <h2 id="picture_title" style="font-size: 2rem;"></h2>
        <iframe name="my_frame" id="my_frame" frameborder="0" seamless></iframe>
      </div>


      <div>
        <h2 class="heading">{{ tree_info.scientific_name }} </h2>
        <ul class="flex tree-details">

          <li> Common Name: {{ tree_info.common_name }}</li>

          <li> Local Name: {{ tree_info.local_name }}</li>

          <li> Authority: {{ tree_info.authority }}</li>

          <li> Order: {{ tree_info.tree_order }}</li>

          <li> Family: {{ tree_info.tree_family }}</li>

          <li> Conservation Status: {{ tree_info.conservation_status }}</li>

          <li> Specie Status: {{ tree_info.specie_status }}</li>

          <li> Tree Description: {{ tree_info.tree_description }}</li>

          {% if tree_info.pharmacological_details %}
          <li class="font"> Pharmacological Details:
            <span>
              <button class="read-more">
                <a href="{% url 'home:pharmacology' tree_info.id %}">Read Up</a>
              </button>
            </span>
          </li>
          {% endif %}

          {% if tree_info.reference %}
          <li class="font"> More About {{ tree_info }} ??:
            <span>
              <button class="read-more">
                <a href="{{ tree_info.reference }}">Read Up</a>
              </button>
            </span>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>

    <div>
      <div class="search-result">
        <div class="heading">Places Found</div>
        <ul class="places-found flex">
          {% for location in tree_location %}
          <li>
            <a class="block" href="{% url 'home:tree-picture' location.id %}" target="my_frame" onclick="displayIframe(this)"> {{ location }} </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        SHARE PAGE
        <div class="social-links flex">
          <div class="social-link-item flex">
            {% post_to_linkedin object_or_url %}
          </div>
          <div class="social-link-item flex">
            <i class="fa-brands fa-telegram"></i>
            {% post_to_telegram "Tree: {{tree_info.scientific_name}} at University of Ibadan" object_or_url "Telegram" %}
          </div>
          <div class="social-link-item flex">
            <i class="fa-brands fa-twitter"></i>
            {% post_to_twitter "Tree: {{tree_info.scientific_name}} at University of Ibadan" object_or_url "Twitter" %}
          </div>
          <div class="social-link-item flex">
            <i class="fa-brands fa-whatsapp"></i>
            {% post_to_whatsapp object_or_url "WhatsApp" %}
          </div>
          <div class="social-link-item flex">
            <i class="fa-solid fa-envelope"></i>
            {% send_email "{{tree_info}} Tree" "Here is {{tree_info}} Tree found in University of Ibadan" object_or_url "Email" %}
          </div>
          <div class="social-link-item flex">
            <i class="fa-brands fa-facebook"></i>
            {% post_to_facebook object_or_url "Facebook" %}
          </div>
          <!-- <div class="social-link-item flex">
          <i class="fa-brands fa-pinterest"></i>
          {% save_to_pinterest object_or_url "Pinterest" %}
        </div> -->
          <!-- <div class="social-link-item flex">
        <i class="fa-solid fa-clipboard"></i>
        {% copy_to_clipboard object_or_url "Copy" %}
        {% add_copy_script %}
        </div> -->
        </div>


        <!--PAGINATOR CONTROL STARTS HERE-->
        <div class="paginator">
          {% if tree_location.has_other_pages %}
          <ul class="pagination flex">
            {% if tree_location.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ 1 }}">First</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ tree_location.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in tree_location.paginator.page_range %}
            {% if tree_location.number == i %}
            <li class="page-item active-page"><a class="page-link">{{ i }}</a></li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}


            {% if tree_location.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ tree_location.next_page_number }}">&raquo;</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ tree_location.paginator.num_pages }}">Last</a>
            </li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>

          {% endif %}

        </div>
        <!--PAGINATOR CONTROL ENDS HERE-->
      </div>

    </div>

    <div id="time-created-updated">
      <p>This page was created on: {{ tree_info.created }} and last updated on: {{ tree_info.last_updated }}</p>
    </div>
  </div>



  {% endblock %}