{% extends 'base/base.html' %}
{% block content %}

<div class="flex-container">
  <div>
    <p class="heading">{{ result }}</p>
    
    <div class="tree-brief-info">
        <p class="heading">Location Information</p>
        <div class="caption">
            <p><img src="{{ result.tree_picture.url }}" height="300" alt="{{ genus_specie }} Tree at University of Ibadan"></p>
        <p>The Tree could be found at:  {{ result.location_name }}</p>
        <p>Detailed description of the location:  {{ result.location_description }}</p>
        <P> Tree Health Status: {{ result.health_status }}</P>
        <div> Uploaded by:<a href="{% url 'home:contributors' %}#{{ result.uploader }}" target="_blank">  {{ result.uploader }} </a>
        </div>
    </div>

    <br>
    <hr>

    <p class="heading">Tree Information</p>
    <div class="flex tree-details">
      <p> Common Name: {{ tree_info.common_name }}</p>
      
      <p> Local Name: {{ tree_info.local_name }}</p>
      
      <p> Authority: {{ tree_info.authority }}</p>
      
      <p> Order: {{ tree_info.tree_order }}</p>
      
      <p> Family: {{ tree_info.tree_family }}</p>
      
      <p> Conservation Status: {{ tree_info.conservation_status }}</p>
      
      <p> Specie Status: {{ tree_info.specie_status }}</p>
      
      {% if tree_info.pharmacological_details %}
      <p class="font"> Pharmacological Details:
        <span>
          <button class="read-more">
            <a href="{% url 'home:pharmacology' tree_info.id %}" >Read Up</a>
          </button>
        </span>
      </p>
      {% endif %}

      <p>
        <span>
          {% if tree_info.reference %}
          <p class="font"> More About {{ tree_info }} ??:
          <button class="read-more">
            <a href="{{ tree_info.reference }}" >Read Up</a> </p>
          </button>
          {% endif %}
        </span>
      </p>
    </div>
  </div>
  
  <div id="time-created-updated">
    <p>This page was created on: {{ tree_info.created }} and last updated on: {{ tree_info.last_updated }}</p>
  </div>
</div>

{% endblock  %}