<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/icons/icon.jpg' %}" type="image/jpg"/>
    <title>TREES IN UI</title>
</head>
<body>
    <nav>
        <div>
            <!-- Trees Documentation in UI -->
            TREES DOCUMENTATION IN UI
        </div>
        <div>
            <a href="{{ request.META.HTTP_REFERER }}">BACK</a>
            <a href="{% url 'home:home' %}">HOME</a>
            
        </div>
    </nav>

   


{% block content %}

{% endblock %}

</body>
</html>
